@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /* titulos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* Textos */

:root{
    --beige: #FFEFCD;
    --bg-green: #424530;
}

.title{
    font-family: 'Montserrat';
}

.paragraph{
    font-family: 'Open Sans';
    font-size: large;
}



.bg-green{
    background-color: var(--bg-green);
    color: var(--beige);
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    font-size: 19px;
    background-color: transparent;
    backdrop-filter: blur(1px);
    background-color: var(--beige);
  }

#navbarNav{
    display: flex;
    justify-content: space-between;
}  
  
main{
    margin-top: 4%;
}

#section{
    padding-bottom: 5%;
}

#article{
    max-height: 100%;
    max-width: 90%;
}

#card-id{
    max-height: 100%;
    display: flex;
    align-items: center;
    
}

.cards{
    position: relative;
    left: 5%;
    background-color: var(--beige);
}

.image{
    min-height: 280px;
    max-height: 280px;
    max-width: 280px;
    min-width: 280px;
    border-radius: 100%;
    padding: 5%;
}



/* seccion del footer */

#footer {
    background-color: var(--beige);
    color: var(--bg-green);
    font-size: 18px;
  
  }
  
  .img-footer {
    width: 80px;
    border-radius: 50%;
  
  }
  
  .bi {
    font-size: 38px;
  }
  