:root{
  --beige:#F5E6C5;
  --verde:#3F422F;
  --naranja:#D68B30;
}



#navbar{
  background-color: transparent;
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 350ms cubic-bezier(0.65, 0, 0.35, 1);
}
#navbar.scrolled {
  background-color: var(--beige) ;
}
.register{
  position: relative;
  left: 25vw;
}
.login{

  position: relative;
  left: 37vw;
}

#banner{
  background-image: url("../../public/img/Detalles-06.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

#logo{
  width: 24rem;
  height: auto;
  position: relative;
  bottom: 48px;
  
}

#logo img{
  width: 100%;
  height: auto;
}
#container-text-banner{
  color: var(--beige);
  text-align: center;
}
#container-text-banner h1{
  font-size: 90px;
  font-weight: 300;
}
#container-text-banner span{
  font-weight: 600;
}
.about-us{
  padding: 3rem 0;
  background-color: var(--beige);
  text-align: center;
  color: var(--verde);
}
.about-us h2{
  color: var(--naranja);
  font-size: 4rem;
  line-height: 1.8;
}
.about-us p{
  font-size: 34px;
}
.about-us div{
  padding: 2rem 4rem;
}
#garden{
  background-image: url("../../public/img/Detalles-07.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}
#stats{
  background-color: var(--verde);
  padding: 4rem 8rem;
  gap: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#stats-text{
  color: var(--beige);
  width: 48%;
}
#iframe{
  width: 65%;
  height: 28rem;
}
#iframe iframe{
  width: 100%;
  height: 100%;
}

.hero-section {
  padding: 2rem 0;
  background-color:var(--beige) ;
}

.hero-section_title {
  padding-top: 3rem;
  font-size: 4rem;
  line-height: 1.2;
  text-align: center;
  color:#D68B30 ;
  font-weight: 400;
}


.hero-section_cards {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.hero-section_card {
  min-height: 450px;
  border-radius: 12px;
}

.hero-section_card_content {
  padding: 1.6rem;
  height: 100%;
  opacity: 0;
  background: RGBA(0,0,0,0.8);
  color: var(--beige);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 12px;
  cursor: pointer;
}
.hero-section_card_content:hover{
  opacity: 1;
}
.hero-section_card_content > *{
  transform: translateY(25px);
  transition: transform 0.4s;
}
.hero-section_card_content:hover > *{
  transform: translateY(0px);
}

.hero-section_card_content h2 {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.hero-section_card_content p{
  font-size:22px ;
  font-weight: 300;
} 


.card-1 {
  background: url('https://images.pexels.com/photos/16957839/pexels-photo-16957839/free-photo-of-paisaje-hombre-granjero-retrato.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.card-2 {
   background: url('https://images.unsplash.com/photo-1605000797499-95a51c5269ae?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-3 {
  background: url('https://images.pexels.com/photos/3019836/pexels-photo-3019836.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.card-4 {
  background: url('https://images.pexels.com/photos/696205/pexels-photo-696205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.labels{
  display: flex;
  flex-direction: column;
}
.contact{
  background-image: url(../../public/img/Detalles-17.png) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--beige);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact h2{
  font-size: 40px;
  padding: 42px 0 10px 0;
}
.contenedor-contacto{
  width: 50vw;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form label{
  font-size: 20px;
}

.form input, .form textarea{
  border: solid 2px var(--naranja);
  padding: 7px;
  margin: 10px 0;
  font-size: 18px;
  border-radius: 12px;
}
.form button{
  align-self: center;
  border-radius: 12px;
  color: var(--naranja);
  border: solid var(--naranja) 2px;
  padding: 6px;
  margin: 10px 0;
  font-size: 22px;
  font-weight: 700;
  width: 100px;
}
.form button:hover{
  background-color: var(--naranja);
  color: var(--beige);
}

