@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Sora:wght@100..800&family=Staatliches&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url(./normalize.css);

:root {
  --dark-green: #134B42;
  --opaque-green: #80917D;
  --green-luminoso-claro: #AEBA8A;
  --mustard-yellow: #EEA83B;
  --opaque-orange: #CA763B;
  --brown-yellow: #D68B30;
  --cream: #F5E6C5;
  --olive-green: #3F422F;

}

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    
    
}

body {

    font-family: "Montserrat", sans-serif;
    background-color: var(--cream);
}

h1 {

    font-size: 45px;
}

h2 {
    font-size: 30px;
}

p{
    font-size: 25px;
    font-weight: 800;
}


.head {
    background-image: url(/public/img/users.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
    padding: 50px 80px;
    border: 3px solid black;
    font-family: "Open Sans", sans-serif;

}

.nav-pages {
    background-color: var(--cream);
    align-items: center;
    text-align: center;
    margin: 5px;
}

.nav-pages a{
    text-decoration: none;
    color: var(--dark-green);
    padding-right: 8px;
}

.nav {

    display: flex;
    justify-content: space-evenly;
    height: 60px;
    
}


.nav a {
    text-decoration: none;
    color: rgb(18, 17, 17);
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    
}


.hero {
   min-height: 60vh;
   position: relative;
   border-radius: 0 0 350px 0;
   background-color: var(--dark-green);
   
}



video {
    position: absolute;
    border-radius: 0 0 350px 0;
    left:0;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    background-color: #1c1c1d;
    opacity: 0.9;
    mix-blend-mode: overlay;
    
}

.welcome {
    position: absolute;
    left: 20%;
    top: 20%;
    color: var(--cream);
    
}

.access{

  
    height: 950px;
    width: 100%;
    background-color: var(--cream);
    background-image: url(/public/img/access.png);
    border: 3px solid var(--mustard-yellow);
    border-radius: 0 0 0 350px;
   
    
    
    
}

.access-block {
    text-align: center;
    align-items: center;
}

.crud {

    width: 60%;
    height: 100% ;
    margin: 200px 400px;
    border: 3px solid var(--mustard-yellow);
}

.crud h2{
    color: var(--dark-green);
    margin-left: 30%;
    margin-bottom: 5%;
}

.img-footer {
    width: 80px;
    border-radius: 50%;
  
  }



#container-user {

    border: 3px solid var(--mustard-yellow);
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: var(--dark-green);
    border-radius:350px 0px 0  0;
}



#btn-1{

   color: var(--dark-green);
   padding-top: 14px;
   width: 200px;
   font-size: 28px;
   font-weight: 300;
}


#btn-2 {
   
    color: var(--dark-green);
    padding-top: 14px;
    width: 200px;
    font-size: 28px;
    font-weight: 300;

}

#btn-3 {
   color: var(--dark-green);
   padding-top: 14px;
   width: 200px;
   font-size: 28px;
   font-weight: 300;

}

#btn-4 {
    color: var(--dark-green);
    padding-top: 14px;
    width: 200px;
    font-size: 28px;
    font-weight: 300;

}

#btn-1:hover{
    color: #EEA83B;
}

#btn-2:hover{
    color:var(--mustard-yellow);
}

#btn-3:hover{
    color: var(--mustard-yellow);
}

#btn-4:hover{
    color: #EEA83B;
}


#productForm {


    align-items: center;
    text-align: center;
    width: 600px;
    height: 750px;
    margin: 50px 360px;
    margin-left: 560px;
    border-radius: 35px;


}

#productForm div {
    align-items: center;
    margin-top: 5px;
    padding-top: 10px;

}

#productForm input {
    width: 380px;
    height: 29px;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;

}

#productForm h4 {
    margin-top: 8px;
    padding-top: 10px;
    color: var(--cream);
}

#name-f {
    text-align: center;
    padding-top: 15px;
    
}

#create {

    margin-top: 25px;
    height: 50px;
    width: 90px;
    font-family: sans-serif;
    font-size: 22px;
    border-radius: 15px;
    background-color: var(--cream);
    color: var(--dark-green);
}

#parragraf {

    width: 480px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    margin-left: 80px;
    color: var(--cream);
}

#title-manual {
    position: absolute;
    top: 105%;
    color: var(--cream);
}

#box {
  
    width: 330px;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border: 1px solid var(--mustard-yellow);
}

#box img {
    width: 100%;
    height: 100%;
}

#capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cream);
    transform: scale(0);
    transition: .3s ease;
}

#box:hover #capa{
    transform: scale(1);
}

#box h2{
    background-color: var(--cream);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}



#box p{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

#introduction {
    text-align: center;
    width: 550px;
    margin-left: 350px;
    margin-top: 200px;
    color: var(--cream);
}

#pf{
    font-weight: 300;
}

#divisor {
    background-color: #134B42;
    opacity: 0.5;
    height: 65px;
}


#button-table {
    height: 70px;
    align-items: center;
    text-align: center;
    background-color: var(--dark-green);
}

#button-table button{
    background-color: var(--cream);
    border-radius: 10px;
    margin-top: 20px;
    width: 100px;
    height: 40px;

}

@media (max-width: 768px) {
    /* Modificar estilos del encabezado */
    .head {
        padding: 10px;
    }

    /* Modificar estilos de la navegación */
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Modificar estilos del hero */
    .hero {
        padding: 20px;
    }

    /* Modificar estilos del container-user */
    #container-user {
        flex-direction: column;
    }

    /* Modificar estilos del acceso */
    .access {
        padding: 20px;
    }

    /* Modificar estilos del CRUD */
    .crud {
        padding: 20px;
    }

    /* Modificar estilos del footer */
    #footer {
        flex-direction: column;
        align-items: center;
    }
}

/* Estilos para pantallas de hasta 576px de ancho */
@media (max-width: 576px) {
    /* Modificar estilos del encabezado */
    .head {
        padding: 5px;
    }

    /* Modificar estilos de la navegación */
    .nav {
        font-size: 0.8rem;
    }

    /* Modificar estilos del hero */
    .hero {
        padding: 10px;
    }

    /* Modificar estilos del container-user */
    #container-user {
        padding: 10px;
    }

    /* Modificar estilos del acceso */
    .access {
        padding: 10px;
    }

    /* Modificar estilos del CRUD */
    .crud {
        padding: 10px;
    }

    /* Modify footer styles*/
    #footer {
        padding: 10px;
    }
}
